<div class="card" style="width: 12rem;">
    <img class="card-img-top" src="https://d289qh4hsbjjw7.cloudfront.net/kotobukiya-assets/product_sales/preview_images/medium/DC041_mary_w.jpg?1563434385" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{todoitem.title}}</h5>
      <p class="card-text">{{todoitem.content}}</p>

      <button class="btn btn-primary">Edit</button>
      <button class="btn btn-primary">Remove</button>
      <button class="btn btn-primary">Set Enable</button>
      <button class="btn btn-primary">Set Color</button>

    </div>
  </div>


