<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="http://localhost:8080/uploads/post-1558910809401.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{todoitem.title}}</h5>
      <p class="card-text">{{todoitem.content}}</p>

      <button class="btn btn-primary">Edit</button>
      <button class="btn btn-primary">Remove</button>
      <button class="btn btn-primary">Set Enable</button>
      <button class="btn btn-primary">Set Color</button>

    </div>
  </div>


