<div>
<h1>Create New Post</h1>
<br />
<br />

<label>autho</label><input [(ngModel)]="author" type="text" value="" />  <br />
<label>titl</label><input [(ngModel)]="title" type="text" value="" />  <br />
<label>conten</label><input [(ngModel)]="content" type="text" value="" />  <br />
<label>category</label><input [(ngModel)]="categories" type="text" value="" />  <br />
<label>tag</label><input [(ngModel)]="tags" type="text" value="" />  <br />
<label>like</label><input [(ngModel)]="likes" type="text" value="" />  <br />
<label>subscriber</label><input [(ngModel)]="subscribers" type="text" value="" />  <br />
<label>share</label><input [(ngModel)]="shares" type="text" value="" />  <br />
<label>view</label><input [(ngModel)]="views" type="text" value="" />  <br />
<label>imageur</label><input [(ngModel)]="imageurl" type="text" value="" />  <br />
<label>datecreate</label><input [(ngModel)]="datecreated" type="text" value="" />  <br />
<label>datemodifie</label><input [(ngModel)]="datemodified" type="text" value="" />  <br />

<button (click)="onClickCreatePost()">Add new Post</button>

</div>
