<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action" (click)="onClickNavigateItem('TDO_LIST')">Todo List</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="onClickNavigateItem('TDO_FORM')">Todo Form</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="onClickNavigateItem('TDO_TABLE')">Todo </button>
    <button type="button" class="list-group-item list-group-item-action" (click)="onClickNavigateItem('TDO_REPORT')">Todo Reports</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="onClickNavigateItem('TDO_REACTIVEFORM')">Todo Reactive Form</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="onClickNavigateItem('TDO_REACTIVEFORMV2')">Todo Reactive Form v2</button>
</div>
